<div class="layout-row layout-align-space-around-center">
  <div>
    {{#link-to "funding"}}
      Funding
    {{/link-to}}
  </div>

  <div>
    {{#link-to "wallets"}}
      Wallets
    {{/link-to}}
  </div>

  <div>
    {{#link-to "free"}}
      Free
    {{/link-to}}
  </div>

  <div>
    {{#link-to "rates"}}
      Rates
    {{/link-to}}
  </div>
</div>

<h2>Margin average rates:</h2>
{{#each model.takenCurrencies as |f|}}
  <p>{{f}}</p>
{{/each}}
