<div class="layout-row layout-align-space-around-center">
  <div>
    {{#link-to "wallets"}}
      Wallets
    {{/link-to}}
  </div>

  <div>
    {{#link-to "open"}}
      Open
    {{/link-to}}
  </div>

  <div>
    {{#link-to "rates"}}
      Rates
    {{/link-to}}
  </div>

  <div>
    {{#link-to "margin"}}
      Margin
    {{/link-to}}
  </div>
</div>

<h2>Funded average rates:</h2>
{{#each model.fundedCurrencies as |f|}}
  <p>{{f}}</p>
{{/each}}
