{{main-menu currentPage='rates' allLinks='funding,wallets,open,margin'}}

<h2>Current average rates:</h2>
{{#each model.currencyRates as |cr|}}
  <p>{{cr.currency}}: Last: {{cr.last}}% ; Ask: {{cr.ask}}%</p>
{{/each}}
