<div class="layout-row layout-align-space-around-center">
  <div>
    {{#link-to currentPage}}
      Refresh
    {{/link-to}}
  </div>

  {{#each links as |link|}}
    <div>
      {{#link-to link}}
        {{link}}
      {{/link-to}}
    </div>
  {{/each}}
</div>
