{{main-menu currentPage='wallets' allLinks='funding,,open,rates,margin'}}

<h2>Funding wallets</h2>
{{#each model.fundingWallets as |wallet|}}
  <p>{{wallet.currency}}: {{wallet.amount}}</p>
{{/each}}
