<div class="layout-row layout-align-space-around-center">
  <div>
    {{#link-to "funding"}}
      Funding
    {{/link-to}}
  </div>

  <div>
    {{#link-to "free"}}
      Free
    {{/link-to}}
  </div>

  <div>
    {{#link-to "rates"}}
      Rates
    {{/link-to}}
  </div>
</div>

<h2>Funding wallets</h2>
{{#each model.fundingWallets as |wallet|}}
  <p>{{wallet.currency}}: {{wallet.amount}}</p>
{{/each}}
